{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'lib/bootstrap-3.3.4-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-3.3.4-dist/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'lib/jquery-2.1.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/bootstrap-3.3.4-dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/getitdone.js' %}"></script>

    <title>Front-end TODO List</title>
</head>
<body>
    <h1>Front-end TODO List</h1>
    <p>What do you need to get done today?</p>
    <form id="taskForm" action="{% static 'js/getitdone.js' %}">
        <input id="taskEntry" type="text" name="task" placeholder="Enter TODO" />
        <input type="submit" value="Submit"/>
    </form>
    <h2>Tasks</h2>
    <div id="list">
        <ul class="container">

            <!-- new tasks entered will go here! -->

            {% if tasks|length == 0 %}
                <li id="no-tasks-msg">No tasks</li>
            {% endif %}

            {%  for task in tasks %}
                {% if not task.completed %}
                    <li data-task-id="{{ task.id }}" class="row">
                        <div class='task-name taskDiv col-lg-6'>{{ task.title }}</div>
                        <div class='task-name infoDiv col-lg-6'>
                            <div class="col-sm-4 date">{{ task.created }}</div>
                            <div class="col-sm-4 glyphicon glyphicon-trash"></div>
                            <div class="col-sm-4 glyphicon glyphicon-ok"></div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}

        </ul>
    </div>
    <h2>Completed</h2>
    <div id="done">
        <ul class="container">

            <!-- new tasks entered will go here! -->

            {% if tasks|length == 0 %}
                <li id="no-tasks-msg">No tasks</li>
            {% endif %}

            {%  for task in tasks %}
                {% if task.completed %}
                    <li class="row" data-task-id="{{ task.id }}">
                        <div class='task-name taskDiv col-lg-6'>{{ task.title }}</div>
                        <div class='task-name infoDiv col-lg-6'>
                            <div class="col-sm-4 date">{{ task.created }}</div>
                            <div class="col-sm-4 glyphicon glyphicon-trash"></div>
                            <div class="col-sm-4 glyphicon glyphicon-repeat"></div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</body>
</html>